{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
      <div class="container-fluid">
        <div class="pull-right">
          <button type="submit" id="form-submit" class="btn btn-primary" data-toggle="tooltip" title="{{ button_save }}" ><i class="fa fa-save"></i></button>

          <a href="{{ cancel }}"  class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
        
        <h1>{{ heading_title }}</h1>
        
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-company" data-toggle="tab">{{ tab_company }}</a></li>
            <li><a href="#tab-parcel-configuration" data-toggle="tab">{{ tab_parcel_configuration }}</a></li>
            <li><a href="#tab-manifest" data-toggle="tab">Manifest</a></li>
            <li><a href="#tab-collection-request" data-toggle="tab">{{ tab_collection_request }}</a></li>
          </ul>

          <form id="form-submit" action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-general">
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="api_username">{{ entry_dpd_setting_api_username }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="dpd_setting_api_username" id="api_username" class="form-control" value="{{ dpd_setting_api_username }}" />
                    {% if error_dpd_setting_api_username %}
                      <span class="text-danger">{{ error_dpd_setting_api_username }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="api_password">{{ entry_dpd_setting_api_password }}</label>
                  <div class="col-sm-10">
                    <input type="password" name="dpd_setting_api_password" id="api_password" class="form-control" value="{{ dpd_setting_api_password }}" />
                    {% if error_dpd_setting_api_password %}
                      <span class="text-danger">{{ error_dpd_setting_api_password }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="api_url">{{ entry_dpd_setting_api_url }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_api_url" id="dpd_setting_api_url" class="form-control">



                      <option value="lt" {% if dpd_setting_api_url == 'lt' %} selected {% endif %}>Lithuania</option>
                      <option value="lv" {% if dpd_setting_api_url == 'lv' %} selected {% endif %}>Latvia</option>
                      <option value="ee" {% if dpd_setting_api_url == 'ee' %} selected {% endif %}>Estonia</option>
                    </select>

                    {% if error_dpd_setting_api_url %}
                      <span class="text-danger">{{ error_dpd_setting_api_url }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="google_map_api_key">{{ entry_dpd_setting_google_map_api_key }}</label>
                  <div class="col-sm-10">
                    <input name="dpd_setting_google_map_api_key" id="google_map_api_key" class="form-control"  value="{{ dpd_setting_google_map_api_key }}" />

                    <!-- {% if error_dpd_setting_google_map_api_key %}
                      <span class="text-danger">{{ error_dpd_setting_google_map_api_key }}</span>
                    {% endif %} -->
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-company">
                <div class="alert alert-info">{{ info_warehouses }}</div>

                <div class="table-responsive">
                  <table id="warehouse" class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <td class="text-left required" style="min-width: 100px;">{{ column_name }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_address }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_postcode }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_city }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_country }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_contact_person }}</td>
                        <td class="text-left required" style="min-width: 100px;">{{ column_phone }}</td>
                        <td class="text-right" style="min-width: 100px;"></td>
                      </tr>
                    </thead>
                    <tbody>
                      {% set warehouse_row = 0 %}
                      {% if dpd_setting_warehouses %}
                        {% for dpd_setting_warehouse in dpd_setting_warehouses %}
                          <tr id="warehouse-row{{ warehouse_row }}">
                            <td class="text-left">
                              <input type="text" name="dpd_setting_warehouse[{{ warehouse_row }}][name]" value="{{ dpd_setting_warehouse['name'] }}" placeholder="{{ entry_name }}" class="form-control" required="true" />
                            </td>
                            <td class="text-left">
                              <input type="text" name="dpd_setting_warehouse[{{ warehouse_row }}][address]" value="{{ dpd_setting_warehouse['address'] }}" placeholder="{{ entry_address }}" class="form-control" required="true" />
                            </td>
                            <td class="text-left">
                              <input type="number" name="dpd_setting_warehouse[{{ warehouse_row }}][postcode]" value="{{ dpd_setting_warehouse['postcode'] }}" placeholder="{{ entry_postcode }}" class="form-control" required="true" />
                            </td>
                            <td class="text-left">
                              <input type="text" name="dpd_setting_warehouse[{{ warehouse_row }}][city]" value="{{ dpd_setting_warehouse['city'] }}" placeholder="{{ entry_city }}" class="form-control" required="true" />
                            </td>
                            <td class="text-left">
                              <select name="dpd_setting_warehouse[{{ warehouse_row }}][country_id]" class="form-control" required="true">';
                                <option value="0">{{ text_select }}</option>

                                {% for country in countries %}
                                  {% if dpd_setting_warehouse.country_id == country.country_id %}
                                    <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                                  {% else %}
                                    <option value="{{ country.country_id }}">{{ country.name }}</option>
                                  {% endif %}
                                {% endfor %} 
                              </select>
                            </td>
                            <td class="text-left">
                              <input type="text" name="dpd_setting_warehouse[{{ warehouse_row }}][contact_person_name]" value="{{ dpd_setting_warehouse['contact_person_name'] }}" placeholder="{{ entry_contact_person_name }}" class="form-control" required="true" />
                            </td>
                            <td class="text-left">
                              <input type="text" name="dpd_setting_warehouse[{{ warehouse_row }}][phone]" value="{{ dpd_setting_warehouse['phone'] }}" placeholder="{{ entry_warehouse_phone }}" class="form-control" required="true" />
                            </td>
                            <td class="text-right">
                              <button type="button" onclick="$('#warehouse-row{{ warehouse_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                            </td>
                          </tr>
                          {% set warehouse_row = warehouse_row + 1 %}
                        {% endfor %}
                      {% endif %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="7"></td>
                        <td class="text-right"><button type="button" onclick="addWarehouse();" data-toggle="tooltip" title="{{ button_warehouse_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>

              <div class="tab-pane" id="tab-parcel-configuration">
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="label_size">{{ entry_dpd_label_size }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_label_size" id="label_size" class="form-control">
                      {% if dpd_setting_label_size == 'A4' %}
                        <option value="A4" selected>A4</option>
                        <option value="A6">A6</option>
                      {% elseif dpd_setting_label_size == 'A6' %}
                        <option value="A4">A4</option>
                        <option value="A6" selected>A6</option>
                      {% else %}
                        <option value="A4">A4</option>
                        <option value="A6">A6</option>
                      {% endif %}
                    </select>

                    {% if error_dpd_setting_label_size %}
                      <span class="text-danger">{{ error_dpd_setting_label_size }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="parcel_distribution">{{ entry_dpd_parcel_distribution }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_parcel_distribution" id="parcel_distribution" class="form-control">
                      {% if dpd_setting_parcel_distribution == 1 %}
                        <option value="1" selected>{{ text_one_shipment }}</option>
                        <option value="2">{{ text_separate_shipment }}</option>
                        <option value="3">{{ text_separate_quantity_shipment }}</option>
                      {% elseif dpd_setting_parcel_distribution == 2 %}
                        <option value="1">{{ text_one_shipment }}</option>
                        <option value="2" selected>{{ text_separate_shipment }}</option>
                        <option value="3">{{ text_separate_quantity_shipment }}</option>
                      {% elseif dpd_setting_parcel_distribution == 3 %}
                        <option value="1">{{ text_one_shipment }}</option>
                        <option value="2">{{ text_separate_shipment }}</option>
                        <option value="3" selected>{{ text_separate_quantity_shipment }}</option>
                      {% else %}
                        <option value="1">{{ text_one_shipment }}</option>
                        <option value="2">{{ text_separate_shipment }}</option>
                        <option value="3" selected>{{ text_separate_quantity_shipment }}</option>
                      {% endif %}
                    </select>

                    {% if error_dpd_setting_parcel_distribution %}
                      <span class="text-danger">{{ error_dpd_setting_parcel_distribution }}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="return_service">{{ entry_dpd_return_services }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_return_service" id="return_service" class="form-control">
                      {% if dpd_setting_return_service == '1' %}
                        <option value="1" selected>{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected>{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="rod_service">{{ entry_dpd_rod_services }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_rod_service" id="rod_service" class="form-control">
                      {% if dpd_setting_rod_service == '1' %}
                        <option value="1" selected>{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected>{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="dpd_setting_price_calculation">{{ entry_dpd_setting_price_calculation }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_price_calculation" id="dpd_setting_price_calculation" class="form-control">
                      <option value="item" {% if dpd_setting_price_calculation == 'item' %} selected {% endif %}>{{ text_per_item }}</option>
                      <option value="order" {% if dpd_setting_price_calculation == 'order' %} selected {% endif %}>{{ text_per_order }}</option>
                      <option value="weight" {% if dpd_setting_price_calculation == 'weight' %} selected {% endif %}>{{ text_per_weight }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="dpd_setting_price_calculation_parcels">{{ entry_dpd_setting_price_calculation_parcels }}</label>
                  <div class="col-sm-10">
                    <select name="dpd_setting_price_calculation_parcels" id="dpd_setting_price_calculation_parcels" class="form-control">
                      <option value="order" {% if dpd_setting_price_calculation_parcels == 'order' %} selected {% endif %}>{{ text_per_order }}</option>
                      <option value="weight" {% if dpd_setting_price_calculation_parcels == 'weight' %} selected {% endif %}>{{ text_per_weight }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-manifest">
                <table class="table table-stripe">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{{ text_current_manifest_day }}</th>
                      <th class="text-right">{{ text_action }}</th>
                    </tr>
                  </thead>
                  {% if manifest_list %}
                    {% for manifest in manifest_list %}
                      <tr>
                        <td>{{ manifest.filename }}</td>
                        <td>{{ manifest.date }}</td>
                        <td class="text-right"><a href="{{ manifest.preview }}" target="_blank" class="btn btn-primary">Preview</a></td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </table>
              </div>

              <div class="tab-pane" id="tab-collection-request">
                <!-- <form id="collectionRequestForm" class="form-controll" method="POST" novalidate="novalidate"> -->
                  <label class="pickup_title"><h3>{{ entry_pickup_title }}</h3></label>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_name">{{ entry_pickup_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_name]" id="pickup_name" class="form-control" maxlength="140" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_address">{{ entry_pickup_address }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_address]" id="pickup_address" class="form-control" maxlength="35" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_postcode">{{ entry_pickup_postcode }}</label>
                    <div class="col-sm-10">
                      <input type="number" name="collectionRequest[pickup_postcode]" id="pickup_postcode" class="form-control" maxlength="8" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_city">{{ entry_pickup_city }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_city]" id="pickup_city" class="form-control" maxlength="25" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_country">{{ entry_pickup_country }}</label>
                    <div class="col-sm-10">
                      <select name="collectionRequest[pickup_country]" class="form-control" id="pickup_country" required>
                        <option value="-">{{ text_select }}</option>
                        {% for country in countries %}
                          <option value="{{ country.country_id }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="pickup_contact">{{ entry_pickup_contact }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_contact]" id="pickup_contact" class="form-control" maxlength="20" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="pickup_contact_email">{{ entry_pickup_contact_email }}</label>
                    <div class="col-sm-10">
                      <input type="email" name="collectionRequest[pickup_contact_email]" id="pickup_contact_email" class="form-control" maxlength="30" />
                    </div>
                  </div>


                  <!-- Recipient -->
                  <label style="margin-top: 30px;"><h3>{{ entry_pickup_recipient_title }}</h3></label>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="recipient_name">{{ entry_pickup_recipient_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[recipient_name]" id="recipient_name" class="form-control" maxlength="70"  />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="recipient_pickup_address">{{ entry_pickup_recipient_address }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[recipient_pickup_address]" id="recipient_pickup_address" class="form-control" maxlength="35" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="recipient_pickup_postcode">{{ entry_pickup_recipient_postcode }}</label>
                    <div class="col-sm-10">
                      <input type="number" name="collectionRequest[recipient_pickup_postcode]" id="recipient_pickup_postcode" class="form-control" maxlength="8" required />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="recipient_pickup_city">{{ entry_pickup_recipient_city }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[recipient_pickup_city]" id="recipient_pickup_city" class="form-control" />
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="recipient_pickup_country">{{ entry_pickup_recipient_country }}</label>
                    <div class="col-sm-10">
                      <select name="collectionRequest[recipient_pickup_country]" class="form-control" id="recipient_pickup_country" required>
                        <option value="">{{ text_select }}</option>
                        <option value="LT">Lithuania</option>
                        <option value="LV">Latvia</option>
                        <option value="EE">Estonia</option>  
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="recipient_pickup_contact">{{ entry_pickup_contact }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[recipient_pickup_contact]" id="recipient_pickup_contact" class="form-control" maxlength="20" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="recipient_pickup_contact_email">{{ entry_pickup_contact_email }}</label>
                    <div class="col-sm-10">
                      <input type="email" name="collectionRequest[recipient_pickup_contact_email]" id="recipient_pickup_contact_email" class="form-control" maxlength="30" />
                    </div>
                  </div>

                  <!-- Information about parcel -->
                  <label style="margin-top: 30px;"><h3>{{ entry_parcels_title }}</h3></label>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="pickup_parcels">{{ entry_pickup_parcels_information }}</label>
                    <div class="col-sm-3">
                      <input type="number" name="collectionRequest[parcels]" placeholder="{{ entry_placeholder_parcels }}" id="pickup_parcels" class="form-control" maxlength="30" />
                    </div>

                    <div class="col-sm-3">
                      <input type="number" name="collectionRequest[pallets]" placeholder="{{ entry_placeholder_pallets }}" id="pickup_pallets" class="form-control" maxlength="30" />
                    </div>

                    <div class="col-sm-3">
                      <input type="number" name="collectionRequest[weight]" placeholder="{{ entry_placeholder_weight }}" id="pickup_weight" class="form-control" maxlength="30" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="parcels_additional_information">{{ entry_pickup_parcels_additional_information }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_parcels_additional_information]" id="parcels_additional_information" class="form-control" maxlength="30" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="parcels_pickupdate">{{ entry_pickup_parcels_date }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="collectionRequest[pickup_parcels_date]" id="parcels_pickupdate" class="form-control date" value="{{ dpd_setting_cr_time }}" />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <button id="requestCollection" data-loading-text="Loading..." type="button" class="btn btn-block btn-primary">{{ entry_request }}</button>
                    </div>
                  </div>

                <script>
                  $("#requestCollection").click(function(e) {
                    e.preventDefault();

                    var form = $("form");
                    var data = form.serializeArray();

                    $.ajax({
                      type: "POST",
                      url: '{{ collectionRequest }}',
                      data: data, // serializes the form's elements.
                      beforeSend: function() {
                        form.find('.text-danger').remove();
                        $('#requestCollection').button('loading');
                      },
                      success: function(data) {
                        var obj = jQuery.parseJSON(data);

                        $('.alert').remove();

                        // Validate fields
                        if (obj.error) {
                          if (obj.error.pickup_name) {
                            $('input#pickup_name').after('<span class="text-danger">' + obj.error.pickup_name + '</span>').fadeIn();
                          } else {
                            $('input#pickup_name').find('.text-danger').remove();
                          }

                          if (obj.error.pickup_address) {
                            $('input#pickup_address').after('<span class="text-danger">' + obj.error.pickup_address + '</span>').fadeIn();
                          } else {
                            $('input#pickup_address').find('.text-danger').remove();
                          }

                          if (obj.error.pickup_postcode) {
                            $('input#pickup_postcode').after('<span class="text-danger">' + obj.error.pickup_postcode + '</span>').fadeIn();
                          } else {
                            $('input#pickup_postcode').find('.text-danger').remove();
                          }

                          if (obj.error.pickup_city) {
                            $('input#pickup_city').after('<span class="text-danger">' + obj.error.pickup_city + '</span>').fadeIn();
                          } else {
                            $('input#pickup_city').find('.text-danger').remove();
                          }

                          if (obj.error.pickup_country) {
                            $('select#pickup_country').after('<span class="text-danger">' + obj.error.pickup_country + '</span>').fadeIn();
                          } else {
                            $('select#pickup_country').find('.text-danger').remove();
                          }

                          if (obj.error.recipient_name) {
                            $('input#recipient_name').after('<span class="text-danger">' + obj.error.recipient_name + '</span>').fadeIn();
                          } else {
                            $('input#recipient_name').find('.text-danger').remove();
                          }

                          if (obj.error.recipient_pickup_address) {
                            $('input#recipient_pickup_address').after('<span class="text-danger">' + obj.error.recipient_pickup_address + '</span>').fadeIn();
                          } else {
                            $('input#recipient_pickup_address').find('.text-danger').remove();
                          }

                          if (obj.error.recipient_pickup_postcode) {
                            $('input#recipient_pickup_postcode').after('<span class="text-danger">' + obj.error.recipient_pickup_postcode + '</span>').fadeIn();
                          } else {
                            $('input#recipient_pickup_postcode').find('.text-danger').remove();
                          }

                          if (obj.error.recipient_pickup_city) {
                            $('input#recipient_pickup_city').after('<span class="text-danger">' + obj.error.recipient_pickup_city + '</span>').fadeIn();
                          } else {
                            $('input#recipient_pickup_city').find('.text-danger').remove();
                          }

                          if (obj.error.recipient_pickup_country) {
                            $('select#recipient_pickup_country').after('<span class="text-danger">' + obj.error.recipient_pickup_country + '</span>').fadeIn();
                          } else {
                            $('select#recipient_pickup_country').find('.text-danger').remove();
                          }

                          if (obj.error.weight) {
                            $('input#pickup_weight').after('<span class="text-danger">' + obj.error.weight + '</span>').fadeIn();
                          } else {
                            $('input#pickup_weight').find('.text-danger').remove();
                          }

                          if (obj.error.parcels) {
                            $('input#pickup_parcels').after('<span class="text-danger">' + obj.error.parcels + '</span>').fadeIn();
                          } else {
                            $('input#pickup_parcels').find('.text-danger').remove();
                          }

                          
                        } else {
                          if(obj.response.error) {
                            $('label.pickup_title').before('<div class="alert alert-danger">' + obj.response.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                          } else {
                            $('label.pickup_title').before('<div class="alert alert-success">' + obj.response.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                          }

                          $('html, body').animate({
                            scrollTop: $(".alert").offset().top
                          }, 2000);
                        }

                        $('#requestCollection').button('reset');
                      }
                    });
                  });
                </script>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript"><!--
  var warehouse_row = {{ warehouse_row }};

  function addWarehouse() {
    html  = '<tr id="warehouse-row' + warehouse_row + '">';
    html += '  <td class="text-left"><input type="text" name="dpd_setting_warehouse[' + warehouse_row + '][name]" value="" placeholder="{{ entry_address }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-left"><input type="text" name="dpd_setting_warehouse[' + warehouse_row + '][address]" value="" placeholder="{{ entry_address }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-left"><input type="number" name="dpd_setting_warehouse[' + warehouse_row + '][postcode]" value="" placeholder="{{ entry_postcode }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-left"><input type="text" name="dpd_setting_warehouse[' + warehouse_row + '][city]" value="" placeholder="{{ entry_city }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-left"><select name="dpd_setting_warehouse[' + warehouse_row + '][country_id]" class="form-control" required="true">';
    html += '  <option value="0">{{ text_select }}</option>';
    {% for country in countries %}
      html += '    <option value="{{ country.country_id }}">{{ country.name|escape('js') }}</option>';
    {% endfor %}
    html += '  </select></td>';
    html += '  <td class="text-left"><input type="text" name="dpd_setting_warehouse[' + warehouse_row + '][contact_person_name]" value="" placeholder="{{ entry_contact_person_name }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-left"><input type="text" name="dpd_setting_warehouse[' + warehouse_row + '][phone]" value="" placeholder="{{ entry_warehouse_phone }}" class="form-control" required="true" /></td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#warehouse-row' + warehouse_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
    html += '</tr>';
    
    $('#warehouse tbody').append(html);
    
    warehouse_row++;
  }
</script>

<script type="text/javascript"><!--
  $(document).ready(function() {
    $('.date').datetimepicker({
      format: 'YYYY-MM-DD',
      pickDate: true,
      pickTime: false,
      minDate: new Date(),
      disabledDates: [new Date()],
      daysOfWeekDisabled: [0, 6],
    });
  });
</script>

{{ footer }}